$tablet: 700px;
$mobile: 450px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive, serif;
  font-size: 20px;

  // font-family: Georgia, "Times New Roman", serif;
}

html {
  height: 100%;

  background-blend-mode: screen;
  background: linear-gradient(limegreen, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(-90deg, coral, transparent);
}

body {
  max-width: 1500px;
  margin: auto;
  // padding-left: 10%;
  // padding-right: 10%;

  // height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
}
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  h1 {
    font-size: 60px;

    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  // margin-bottom: 5px;

  // .timer__screen {
  //   width: 30px;
  // }
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  // margin-bottom: 5px;
}

// .counter_label {
//   align-self: flex-end;
// }

.section {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 15px;
  // perspective: 800px;
  perspective: 1000px;

  //медленное появление
  opacity: 0;
  animation: ani 5s forwards;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(3, 90px);
    grid-gap: 15px;
    perspective: 500px;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 5px;
    perspective: 200px;
  }
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  position: relative;
  transform-style: preserve-3d; //для исп-ни нужно у род контейнера указывать perspective
  // transition: all 2s ease;
  transition: transform 1s;
  // transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 10px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
}

.back {
  background: #ff6200;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

.face {
  transform: rotateY(-180deg);
}

.restartBtn {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ff9f00;
  border-radius: 10px;
  display: flex;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  // margin: 20px;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
  transition: all 150ms ease-in-out;

  @media screen and (max-width: $mobile) {
    font-size: 10px;
    font-weight: 200;
    line-height: 1;
    // margin: 20px;
    padding: 10px 20px;
  }
}

.restartBtn:hover {
  box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
  color: #ff6200;
}

.restartBtn:active {
  box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
  color: #ff6200;
}

//comments:
// rem - задаёт размер относительно размера шрифта элемента <html>.
// 1em – текущий размер шрифта (родителя).

.win {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.win__content {
  // border: 1px solid #ff6200;
  border-radius: 10px;
  background: linear-gradient(rgb(50, 205, 50), transparent),
    // linear-gradient(90deg, skyblue, transparent),
    linear-gradient(0deg, rgb(255, 127, 80), transparent);
  // transparent
  display: flex;
  flex-direction: row;
}

.win__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  padding: 30px;
  color: #ffffff;
  font-size: 40px;

  .win__button {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ff9f00;
    border-radius: 10px;
    display: flex;
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
    transition: all 150ms ease-in-out;
  }

  .win__button:hover {
    box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
  }

  .win__button:active {
    box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
  }
}

.win__img {
  width: 200px;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 10px;
  }
}
