* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  background-blend-mode: screen;
  background: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(transparent)), -webkit-gradient(linear, left top, right top, from(skyblue), to(transparent)), -webkit-gradient(linear, right top, left top, from(coral), to(transparent));
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
}

body {
  max-width: 1500px;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.timer .timer__screen {
  width: 30px;
}

.counter_label {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8rem)[4];
      grid-template-columns: repeat(4, 8rem);
  -ms-grid-rows: (8rem)[3];
      grid-template-rows: repeat(3, 8rem);
  grid-gap: 1rem;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.card {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 10px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
}

.back {
  background: #ff6200;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggleCard {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.restartBtn {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ff9f00;
  border-radius: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
          box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.restartBtn:hover {
  -webkit-box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
          box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
  color: #ff6200;
}

.restartBtn:active {
  -webkit-box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
          box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
  color: #ff6200;
}
/*# sourceMappingURL=index.css.map */