* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Caveat", cursive, serif;
  font-size: 20px;
  color: #3a3535;
}

html {
  height: 100%;
  background: #ffa100;
  background: radial-gradient(circle, #ffa100 30%, #00a383 86%);
  background-attachment: fixed;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.header h1 {
  font-size: 60px;
}

@media screen and (max-width: 700px) {
  .header h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.timer__clock {
  width: 20px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[4];
      grid-template-columns: repeat(4, 150px);
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
  grid-gap: 15px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  opacity: 0;
  -webkit-animation: ani 5s forwards;
          animation: ani 5s forwards;
}

@media screen and (max-width: 700px) {
  .section {
    -ms-grid-columns: (90px)[4];
        grid-template-columns: repeat(4, 90px);
    -ms-grid-rows: (90px)[3];
        grid-template-rows: repeat(3, 90px);
    grid-gap: 15px;
    -webkit-perspective: 500px;
            perspective: 500px;
  }
}

@media screen and (max-width: 450px) {
  .section {
    -ms-grid-columns: (70px)[3];
        grid-template-columns: repeat(3, 70px);
    -ms-grid-rows: (70px)[4];
        grid-template-rows: repeat(4, 70px);
    grid-gap: 5px;
    -webkit-perspective: 200px;
            perspective: 200px;
  }
}

@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  cursor: url(../images/cursor.png), auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 10px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
}

.back {
  background: #f30021;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggleCard {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.restartBtn {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #eae0d6;
  -webkit-box-shadow: 0 0 40px 40px #ffa100 inset, 0 0 0 0 #ffa100;
          box-shadow: 0 0 40px 40px #ffa100 inset, 0 0 0 0 #ffa100;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media screen and (max-width: 450px) {
  .restartBtn {
    font-size: 10px;
    font-weight: 200;
    line-height: 1;
    padding: 10px 20px;
  }
}

.restartBtn:hover {
  -webkit-box-shadow: 0 0 10px 0 #f30021 inset, 0 0 10px 4px #f30021;
          box-shadow: 0 0 10px 0 #f30021 inset, 0 0 10px 4px #f30021;
  color: #f30021;
}

.restartBtn:active {
  -webkit-box-shadow: 0 0 5px 0 #ffa100, 0 0 5px 1px #ffa100;
          box-shadow: 0 0 5px 0 #ffa100, 0 0 5px 1px #ffa100;
  color: #f30021;
}

.win {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.win__content {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: #00a383;
  background: radial-gradient(circle, rgba(0, 163, 131, 0.897912) 30%, rgba(255, 161, 0, 0.890951) 86%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.win__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 900;
  padding: 30px;
  color: #ffffff;
  font-size: 40px;
}

.win__info .win__button {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ff9f00;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
          box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.win__info .win__button:hover {
  -webkit-box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
          box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
}

.win__info .win__button:active {
  -webkit-box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
          box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
}

.win__img {
  width: 200px;
}

@media screen and (max-width: 450px) {
  .win__img {
    display: none;
  }
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
/*# sourceMappingURL=index.css.map */