$tablet: 700px;
$mobile: 450px;

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive, serif;
  font-size: 20px;
  color: #3a3535;
}

html {
  height: 100%;

  // background-blend-mode: screen;
  //   linear-gradient(90deg, skyblue, transparent),
  //   linear-gradient(-90deg, coral, transparent);
  background-size: cover;

  background: rgb(255, 161, 0);
  background: radial-gradient(circle, rgba(255, 161, 0, 1) 30%, #00a383 86%);
  background-attachment: fixed;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  // background-size: cover;
  // background-size: contain

  // height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  h1 {
    font-size: 60px;

    @media screen and (max-width: $tablet) {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer__clock {
  width: 20px;
}

.animation_clock {
  animation: 4.3s circle infinite;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 15px;
  perspective: 1000px;

  //медленное появление
  opacity: 0;
  animation: ani 5s forwards;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(3, 90px);
    grid-gap: 15px;
    perspective: 500px;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(4, 70px);
    grid-gap: 5px;
    perspective: 200px;
  }
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  //изображение курсора должно быть не больше 32 пикселей, через запятую запасной вариант (например, auto)
  cursor: url(../images/cursor.png), auto;

  //удалить
  // cursor: pointer;
  // cursor: url(../images/pointer.png), auto;

  position: relative;
  transform-style: preserve-3d; //для исп-ни нужно у род контейнера указывать perspective
  // transition: all 2s ease;
  transition: transform 1s;
  // transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 10px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  //попробовать
  // position: relative;

  pointer-events: none;
  border-radius: 10px;
}

.back {
  background: #f30021;

  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg) rotateX(0deg);
}

.face {
  transform: rotateY(-180deg);
}

.restartBtn {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  // border: 2px solid #f30021;
  border: none;
  border-radius: 10px;
  display: flex;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #eae0d6;
  box-shadow: 0 0 40px 40px #f30020ad inset, 0 0 0 0 #f30021;
  transition: all 150ms ease-in-out;

  @media screen and (max-width: $mobile) {
    font-size: 10px;
    font-weight: 200;
    line-height: 1;
    padding: 10px 20px;
  }
}

.restartBtn:hover {
  box-shadow: 0 0 10px 0 #f30021 inset, 0 0 10px 4px #f30021;
  color: #f30021;
}

.restartBtn:active {
  box-shadow: 0 0 5px 0 #ffa100, 0 0 5px 1px #ffa100;
  color: #f30021;
}

//comments:
// rem - задаёт размер относительно размера шрифта элемента <html>.
// 1em – текущий размер шрифта (родителя).

.win {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.win__content {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: rgb(0, 163, 131);
  background: radial-gradient(
    circle,
    rgba(0, 163, 131, 0.8979118329466358) 30%,
    rgba(255, 161, 0, 0.8909512761020881) 86%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.win__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  padding: 30px;
  color: #ffffff;
  font-size: 40px;

  .win__button {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ff9f00;
    border-radius: 10px;
    display: flex;
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 4px 5px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #ff9f00 inset, 0 0 0 0 #ff9f00;
    transition: all 150ms ease-in-out;
  }

  .win__button:hover {
    box-shadow: 0 0 10px 0 #ff9f00 inset, 0 0 10px 4px #ff9f00;
  }

  .win__button:active {
    box-shadow: 0 0 5px 0 #ff9f00, 0 0 5px 1px #ff9f00;
  }
}

.win__img {
  // width: 200px;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 10px;
  }
}
